.bottom-buffer {
    margin-bottom: 5px;
}

.listingTimestamp {
    text-align: right;
}

.historyTimestamp {
    margin-left: 10px;
    font-family: sans-serif;
    font-size: x-small;
    white-space: nowrap;
    text-align: center;
}

.historyAction {
    margin-left: -5px;
    font-family: sans-serif;
    font-size: small;
}