#page {
	padding-top: 20px;
}

.container {
	padding-left: 10px;
	padding-right: 10px;
}

.smallPadAndAlignRight {
	text-align: right;
	padding-right: 0px;
}

nav > div > div.panel-group {
    margin-bottom: 15px;
}