#page {
	width: 280px;
	padding-top: 10px;
}

.container {
	padding-left: 10px;
	padding-right: 10px;
}

.smallPadAndAlignRight {
	text-align: right;
	padding-right: 0px;
}

.textarea-lg {
    height: 54px !important;
}