<!doctype html>
<html ng-csp ng-app="AutoDaytonMls">
<!-- doing this as a page instead of a list of scripts so that I can supply ng-csp directive -->
<head>
  <title>eventPage</title>
  <script type="text/javascript" src="../../lib/string.js"></script>
  <script type="text/javascript" src="../../lib/angular.min.js"></script>
  <script type="text/javascript" src="../js/app.eventPage.js"></script>
  <script type="text/javascript" src="../js/services/NotificationService.js"></script>
  <script type="text/javascript" src="../js/services/StorageService.js"></script>
  <script type="text/javascript" src="../js/services/ListingStorageService.js"></script>
  <script type="text/javascript" src="../js/services/ScrapeService.js"></script>
  <script type="text/javascript" src="../js/eventPage.js"></script>
</head>
<body>
</body>
</html>