<!doctype html>
<html ng-csp ng-app="AutoDaytonMls">
<head>
  <title>Chrome Auto Dayton MLS saved listings</title>

  <script type="text/javascript" src="../../lib/jquery-2.1.0.min.js"></script>
  <script type="text/javascript" src="../../lib/jquery.ba-bbq.min.js"></script>
  <script type="text/javascript" src="../../lib/string.js"></script>

  <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../../lib/bootstrap/css/flatly.bootstrap.min.css" />
  <script type="text/javascript" src="../../lib/bootstrap/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="../../lib/blueimp-gallery/css/blueimp-gallery.min.css">
  <link rel="stylesheet" href="../../lib/bootstrap-image-gallery/css/bootstrap-image-gallery.min.css">
  <script src="../../lib/blueimp-gallery/js/jquery.blueimp-gallery.min.js"></script>
  <script src="../../lib/bootstrap-image-gallery/js/bootstrap-image-gallery.min.js"></script>

  <script src="../../lib/jquery.lazyload.min.js"></script>

  <script type="text/javascript" src="../../lib/underscore-min.js"></script>

  <link rel="stylesheet" href="../../lib/angular-csp.css" />
  <script type="text/javascript" src="../../lib/angular.min.js"></script>
  <script type="text/javascript" src="../../lib/ui-bootstrap-tpls-0.10.0.min.js"></script>

  <script type="text/javascript" src="../js/app.js"></script>
  <script type="text/javascript" src="../js/services/NotificationService.js"></script>
  <script type="text/javascript" src="../js/services/StorageService.js"></script>
  <script type="text/javascript" src="../js/services/ListingStorageService.js"></script>
  <script type="text/javascript" src="../js/services/ScrapeService.js"></script>
  <script type="text/javascript" src="../js/directives/ImgLazyLoad.js"></script>
  <script type="text/javascript" src="../js/directives/ClearControl.js"></script>
  <script type="text/javascript" src="../js/directives/UsDebounceDirective.js"></script>
  <script type="text/javascript" src="../js/filters/DynamicJavascriptFilter.js"></script>
  <script type="text/javascript" src="../js/filters/EscapeFilter.js"></script>
  <script type="text/javascript" src="../js/filters/DaysSinceFilter.js"></script>
  <script type="text/javascript" src="../js/filters/MlsSearchUrlFilter.js"></script>
  <script type="text/javascript" src="../js/filters/MinimumFilter.js"></script>
  <script type="text/javascript" src="../js/filters/MaximumFilter.js"></script>
  <script type="text/javascript" src="../js/filters/PropertySumFilter.js"></script>

  <link rel="stylesheet" href="../css/listings.css" />
  <script type="text/javascript" src="../js/controllers/ListingsController.js"></script>

</head>
<body>

  <div id="page" class="container" ng-controller="ListingsController">

    <header class="row clearfix">
      <div class="col-md-4 column">
        <div class="page-header">
          <h3>Dayton MLS saved listings <span class="badge">{{filteredListings.length}}</span></h3>
        </div>
      </div>
      <div class="col-md-2">
        <div class="page-header pull-left" style="border: 0;">
          <button class="btn btn-info" ng-click="refresh()">Refresh <span class="glyphicon glyphicon-refresh"></span></button>
        </div>
      </div>
      <div class="col-md-2 col-md-offset-2">
        <div class="page-header pull-right" style="border: 0;">
          <button class="btn btn-info" ng-click="importListings()">Import <span class="glyphicon glyphicon-import"></span></button>
        </div>
      </div>
      <div class="col-md-2">
        <div class="page-header pull-right" style="border: 0;">
          <button class="btn btn-info" ng-click="exportListings()">Export <span class="glyphicon glyphicon-export"></span></button>
        </div>
      </div>
    </header>

    <section id="body" class="row clearfix">

      <!-- TODO get this working with affix like bootstrap's site -->
      <div class="col-md-3 column">
        <div>
          <div class="input-group input-group-sm bottom-buffer">
            <span class="input-group-addon">Sort</span>
            <select name="sortOrder" class="form-control text-center" ng-model="filters.sortField" ng-change="saveFilters()">
              <option value="lastUpdate">Updated</option>
              <option value="score">Score</option>
              <option value="mls">MLS</option>
              <option value="listingDate">Listing Date</option>
              <option value="listPrice">Price</option>
              <option value="sqft">SqFt</option>
              <option value="streetNameAndNumber">Street</option>
              <option value="city">City</option>
              <option value="zip">Zip</option>
              <option value="numRooms">Rooms</option>
              <option value="timestamp">Refreshed</option>
            </select>
            <a class="input-group-addon btn btn-sm" ng-click="filters.sortAsc = !filters.sortAsc; saveFilters();"><span class="glyphicon" ng-class="filters.sortAsc ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></span></a>
          </div>
          <div class="input-group input-group-sm bottom-buffer">
            <span class="input-group-addon" title="favorite"><span class="glyphicon glyphicon-heart"></span></span>
            <select class="form-control text-center" title="favorite" ng-model="filters.search.isFavorite" ng-change="saveFilters()">
              <option value=""></option>
              <option value="false">N</option>
              <option value="true">Y</option>
            </select>
            <span class="input-group-addon btn btn-link" clear-control><span class="glyphicon glyphicon-remove"></span></span>
          </div>
          <div class="input-group input-group-sm bottom-buffer">
            <span class="input-group-addon" title="staleness"><span class="glyphicon glyphicon-time"></span></span>
            <select class="form-control text-center" title="staleness" ng-model="filters.search.isStale" ng-change="saveFilters()">
              <option value=""></option>
              <option value="false">Fresh</option>
              <option value="true">Stale</option>
            </select>
            <span class="input-group-addon btn btn-link" clear-control><span class="glyphicon glyphicon-remove"></span></span>
          </div>
          <div class="input-group input-group-sm bottom-buffer">
            <span class="input-group-addon">Score (min)</span>
            <input type="number" class="form-control" ng-model="filters.minSearch.score" ng-change="saveFilters()" us-debounce="700" />
            <span class="input-group-addon btn btn-link" clear-control><span class="glyphicon glyphicon-remove"></span></span>
          </div>
          <div class="input-group input-group-sm bottom-buffer">
            <span class="input-group-addon">$ (min)</span>
            <input type="number" class="form-control" ng-model="filters.minSearch.listPrice" ng-change="saveFilters()" us-debounce="700" />
            <span class="input-group-addon btn btn-link" clear-control><span class="glyphicon glyphicon-remove"></span></span>
          </div>
          <div class="input-group input-group-sm bottom-buffer">
            <span class="input-group-addon">$ (max)</span>
            <input type="number" class="form-control" ng-model="filters.maxSearch.listPrice" ng-change="saveFilters()" us-debounce="700" />
            <span class="input-group-addon btn btn-link" clear-control><span class="glyphicon glyphicon-remove"></span></span>
          </div>
          <div class="input-group input-group-sm bottom-buffer">
            <span class="input-group-addon">SqFt (min)</span>
            <input type="number" class="form-control" ng-model="filters.minSearch.sqft" ng-change="saveFilters()" us-debounce="700" />
            <span class="input-group-addon btn btn-link" clear-control><span class="glyphicon glyphicon-remove"></span></span>
          </div>
          <div class="input-group input-group-sm bottom-buffer">
            <span class="input-group-addon">Desc</span>
            <input type="text" class="form-control" ng-model="filters.search.description" ng-change="saveFilters()" us-debounce="700" />
            <span class="input-group-addon btn btn-link" clear-control><span class="glyphicon glyphicon-remove"></span></span>
          </div>
          <div class="input-group input-group-sm bottom-buffer">
            <span class="input-group-addon">Subdiv</span>
            <input type="text" class="form-control" ng-model="filters.search.subdivision" ng-change="saveFilters()" us-debounce="700" />
            <span class="input-group-addon btn btn-link" clear-control><span class="glyphicon glyphicon-remove"></span></span>
          </div>
          <div class="input-group input-group-sm bottom-buffer">
            <span class="input-group-addon">Street</span>
            <input type="text" class="form-control" ng-model="filters.search.streetNumberAndName" ng-change="saveFilters()" us-debounce="700" />
            <span class="input-group-addon btn btn-link" clear-control><span class="glyphicon glyphicon-remove"></span></span>
          </div>
          <div class="input-group input-group-sm bottom-buffer">
            <span class="input-group-addon">City</span>
            <input type="text" class="form-control" ng-model="filters.search.city" ng-change="saveFilters()" us-debounce="700" />
            <span class="input-group-addon btn btn-link" clear-control><span class="glyphicon glyphicon-remove"></span></span>
          </div>
          <div class="input-group input-group-sm bottom-buffer">
            <span class="input-group-addon">Zip</span>
            <input type="text" class="form-control" ng-model="filters.search.zip" ng-change="saveFilters()" us-debounce="700" />
            <span class="input-group-addon btn btn-link" clear-control><span class="glyphicon glyphicon-remove"></span></span>
          </div>
          <!--<div class="input-group input-group-sm bottom-buffer">
              <span class="input-group-addon">Beds (min)</span>
              <input type="number" class="form-control" ng-model="filters.minSearch.bedrooms" ng-change="saveFilters()"  us-debounce="700" />
              <span class="input-group-addon btn btn-link" clear-control><span class="glyphicon glyphicon-remove"></span></span>
          </div>-->
          <!--<div class="input-group input-group-sm bottom-buffer">
              <span class="input-group-addon">Days listed (min)</span>
              <input type="number" class="form-control"  us-debounce="700" />
              <span class="input-group-addon btn btn-link" clear-control><span class="glyphicon glyphicon-remove"></span></span>
          </div>-->
          <div class="input-group input-group-sm bottom-buffer">
            <span class="input-group-addon">MLS</span>
            <input type="text" class="form-control" ng-model="filters.search.mls" ng-change="saveFilters()" us-debounce="700" />
            <span class="input-group-addon btn btn-link" clear-control><span class="glyphicon glyphicon-remove"></span></span>
          </div>
          <div class="input-group input-group-sm bottom-buffer" style="height: auto;">
            <span class="input-group-addon">Custom</span>
            <textarea class="form-control" rows="5" style="width: 100%; height: auto;" ng-model="tempDynamicJavascriptFilter" title="javascript function (scope) that returns true/false"></textarea>
            <!-- TODO have this clear filters.dynamicJavascriptFilter and save filters -->
            <span class="input-group-addon btn btn-link" clear-control><span class="glyphicon glyphicon-remove"></span></span>
          </div>
          <div class="input-group input-group-sm bottom-buffer">
            <button type="button" class="btn" ng-click="filters.dynamicJavascriptFilter = tempDynamicJavascriptFilter; saveFilters();">Apply Custom Filter</button>
          </div>
        </div>
      </div>

      <section id="listings" class="col-md-9 column">

        <div class="row clearfix"
             ng-repeat="listing in filteredListings = (listings | filter:filters.search | minimum:filters.minSearch | maximum:filters.maxSearch | dynamicJavascript:filters.dynamicJavascriptFilter | orderBy:filters.sortField:!filters.sortAsc) track by listing.mls">

          <div class="col-md-12 column">
            <!-- TODO turn into a directive -->
            <div class="panel" ng-class="listing.isStale == true ? 'panel-default' : 'panel-primary'">

              <div class="panel-heading">
                <div class="row clearfix">
                  <div class="col-md-2 column"><a ng-href="{{listing.mls | mlsSearchUrl}}" href="#" target="_blank" title="go to MLS details page">#{{listing.mls}}</a></div>
                  <div class="col-md-2 column">${{listing.listPrice | number:0}}</div>
                  <div class="col-md-3 column"><strong><a ng-href="http://maps.google.com?q={{listing.streetNumber | escape}}+{{listing.streetName | escape}}+{{listing.city | escape}}+{{listing.zip}}" href="#" target="{{listing.mls}}" title="display on google maps">{{listing.streetNumber}} {{listing.streetName}}</a></strong></div>
                  <div class="col-md-3 column"><strong><a ng-href="http://maps.google.com?q={{listing.streetNumber | escape}}+{{listing.streetName | escape}}+{{listing.city | escape}}+{{listing.zip}}" href="#" target="{{listing.mls}}" title="display on google maps">{{listing.city}} {{listing.zip}}</a></strong></div>
                  <div class="col-md-2 column text-muted small"><div class="listingTimestamp"><span title="refreshed on">{{listing.timestamp | date:"MM/dd/yy HH:mm"}} <span class="small">({{listing.timestamp | daysSince}})</span></span></div></div>
                </div>
              </div>

              <div class="panel-body">
                <div class="row clearfix">
                  <div class="col-md-2 column">
                    <div class="thumbnail">
                      <a href="#" ng-href="{{listing.mainImageUrl}}" title="{{listing.streetNumber}} {{listing.streetName}}" data-gallery="#{{listing.mls}}" data-description="{{listing.streetNumber}} {{listing.streetName}}">
                        <img ng-src="{{listing.mainImageUrl}}" class="img-responsive" alt="{{listing.streetNumber}} {{listing.streetName}}" />
                        <span class="badge pull-right">{{listing.pictures.length}}</span>
                      </a>
                    </div>
                    <div style="display:none;">
                      <div ng-repeat="picture in listing.pictures">
                        <a ng-href="{{picture.url}}" href="#" title="{{picture.description}}" data-gallery="#{{listing.mls}}" data-description="{{picture.description}}">
                          <img data-original="{{picture.url}}" alt="{{picture.description}}" img-lazy-load />
                        </a>
                      </div>
                    </div>
                    <ul class="list-group">
                      <li class="list-group-item"><span class="text-info">{{listing.status}}</span></li>
                      <li class="list-group-item">Listed<br /><span class="text-info">{{listing.listingDate | date:"MM/dd/yy"}}</span><br /><span class="text-info small">{{listing.listingDate | daysSince}}</span></li>
                    </ul>
                  </div>
                  <div class="col-md-10 column">
                    <div class="row clearfix">
                      <div class="col-md-2 column">
                        <button class="btn bottom-buffer" title="toggle favorite" ng-click="toggleFavorite(listing)" ng-class="listing.isFavorite ? 'btn-info' : 'btn-default'"><span class="glyphicon" ng-class="listing.isFavorite ? 'glyphicon-heart' : 'glyphicon-heart-empty'"></span></button>
                        <div class="input-group input-group-sm">
                          <!--<span class="input-group-addon small" title="score"><span class="glyphicon glyphicon-thumbs-up"></span></span>-->
                          <input type="number" class="form-control" title="score" placeholder="score" ng-model="listing.score" ng-change="saveListing(listing)" us-debounce="1000" />
                        </div>
                      </div>
                      <div class="col-md-10 column">
                        <ul class="list-group list-inline">
                          <li class="list-group-item bottom-buffer" ng-show="listing.sqft">SqFt <span class="text-info">{{listing.sqft}}<span class="small" ng-show="listing.sqft"> (${{listing.listPrice/listing.sqft | number:0}}/sqft)</span></span></li>
                          <li class="list-group-item bottom-buffer" ng-show="listing.bedrooms">Beds <span class="text-info">{{listing.bedrooms}}</span></li>
                          <li class="list-group-item bottom-buffer" ng-show="listing.bathrooms">Baths <span class="text-info">{{listing.bathrooms}}</span></li>
                          <li class="list-group-item bottom-buffer" ng-show="listing.yearBuilt">Built <span class="text-info">{{listing.yearBuilt}}</span></li>
                          <li class="list-group-item bottom-buffer" ng-show="listing.annualTaxes > 0">Taxes <span class="text-info">${{listing.annualTaxes | number:0}}/yr</span></li>
                          <li class="list-group-item bottom-buffer" ng-show="listing.county">County <span class="text-info">{{listing.county}}</span></li>
                          <li class="list-group-item bottom-buffer" ng-show="listing.subdivision">Subdiv <span class="text-info">{{listing.subdivision}}</span></li>
                          <li class="list-group-item bottom-buffer" ng-show="listing.schoolDistrict">School <span class="text-info">{{listing.schoolDistrict}}</span></li>
                          <li class="list-group-item bottom-buffer" ng-show="listing.rooms">Rooms <button type="button" class="btn btn-link" ng-click="openRoomsDialog(listing)"><span class="text-info">{{listing.rooms.length}}<span class="small" ng-show="listing.rooms"> ({{listing.rooms | propertySum:"sqft"}}sqft)</span></span></button></li>
                        </ul>
                      </div>
                    </div>
                    <div class="row"><div class="text-primary">{{listing.description}}</div></div>
                  </div>
                </div>
              </div>
              <table class="table table-striped table-hover table-condensed table-responsive">
                <tbody>
                  <tr ng-repeat="h in listing.history | orderBy:historySortProperty:historySortDescending">
                    <td style="width: 0; padding-left: 10px; padding-right: 10px;"><span class="historyTimestamp">{{h.timestamp | date:"MM/dd/yy HH:mm"}} <span class="small">(){{h.timestamp | daysSince}})</span></span></td>
                    <td style="width: 100%;"><span class="historyAction">{{h.action}}</span></td>
                  </tr>
                </tbody>
              </table>
              <div class="panel-footer">
                <div class="row clearfix">
                  <div class="col-md-2 column">
                    <button class="btn btn-danger btn-sm" title="delete this listing" ng-click="delete(listing)"><span class="glyphicon glyphicon-remove-circle"></span></button>
                  </div>
                  <div class="col-md-2 column">
                  </div>
                  <div class="col-md-2 column">
                  </div>
                  <div class="col-md-2 column">
                  </div>
                  <div class="col-md-2 column">
                  </div>
                  <div class="col-md-2 column">
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="row clearfix">
          <div class="col-md-2">
            <div class="pull-left">
              <button class="btn btn-danger" ng-click="deleteFilteredListings()">Delete These <span class="glyphicon glyphicon-remove"></span></button>
            </div>
          </div>
        </div>

      </section>
    </section>

    <section id="footer" class="row clearfix">
      <div class="col-md-12 column">
        <div class="pull-right">
          <em><a href="http://www.philchuang.com/" target="_blank" class="text-muted" style="text-decoration: none;">philchuang.com</a></em>
        </div>
      </div>
    </section>
  </div>

  <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
  <div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <p class="description"></p>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" aria-hidden="true">&times;</button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body next"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left prev">
              <i class="glyphicon glyphicon-chevron-left"></i>
              Previous
            </button>
            <button type="button" class="btn btn-primary next">
              Next
              <i class="glyphicon glyphicon-chevron-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/ng-template" id="RoomsDisplay.html">
    <div class="modal-header">
      <h3>{{dataContext.streetNumberAndName}} rooms</h3>
    </div>
    <div class="modal-body">
      <table class="table table-striped table-hover table-condensed table-responsive">
        <tbody>
          <tr ng-repeat="room in dataContext.rooms | orderBy:['+level','+name']">
            <td style="width: 0; padding-left: 10px; padding-right: 10px; white-space: nowrap;"><span class="">{{room.name}}</span></td>
            <td style="width: 100%;"><span class="">{{room.dimensions}} ({{room.sqft}} sqft) L: {{room.level}}</span></td>
          </tr>
          <tr>
            <td style="width: 0; padding-left: 10px; padding-right: 10px; white-space: nowrap;"><span class="">TOTAL</span></td>
            <td style="width: 100%;"><span class="">{{dataContext.rooms.length}} ({{dataContext.rooms | propertySum:'sqft'}} sqft)</span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="close()">Close</button>
    </div>
  </script>

  <script type="text/ng-template" id="ConfirmationDialog.html">
    <div class="modal-header">
      <h3>{{dataContext.title}}</h3>
    </div>
    <div class="modal-body">
      {{dataContext.message}}
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="close()">OK</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
  </script>

  <script type="text/ng-template" id="ExportDialog.html">
    <div class="modal-header">
      <h3>{{dataContext.title}}</h3>
    </div>
    <div class="modal-body">
      <textarea rows="5" style="width: 100%;" ng-model="dataContext.json"></textarea>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="close()">OK</button>
    </div>
  </script>

  <script type="text/ng-template" id="ImportDialog.html">
    <div class="modal-header">
      <h3>{{dataContext.title}}</h3>
    </div>
    <div class="modal-body">
      <textarea rows="5" style="width: 100%;" ng-model="dataContext.json"></textarea>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="close()">OK</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
  </script>

</body>
</html>
