<!doctype html>
<html ng-csp ng-app="AutoDaytonMls">
<head>
  <title>Chrome Auto Dayton MLS saved listings</title>

  <script type="text/javascript" src="../../lib/jquery-2.1.0.min.js"></script>
  <script type="text/javascript" src="../../lib/jquery.ba-bbq.min.js"></script>
  <script type="text/javascript" src="../../lib/string.js"></script>

  <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../../lib/bootstrap/css/flatly.bootstrap.min.css" />
  <script type="text/javascript" src="../../lib/bootstrap/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="../../lib/blueimp-gallery/css/blueimp-gallery.min.css">
  <link rel="stylesheet" href="../../lib/bootstrap-image-gallery/css/bootstrap-image-gallery.min.css">
  <script src="../../lib/blueimp-gallery/js/jquery.blueimp-gallery.min.js"></script>
  <script src="../../lib/bootstrap-image-gallery/js/bootstrap-image-gallery.min.js"></script>

  <script src="../../lib/jquery.lazyload.min.js"></script>

  <script type="text/javascript" src="../../lib/underscore-min.js"></script>

  <link rel="stylesheet" href="../../lib/angular-csp.css" />
  <script type="text/javascript" src="../../lib/angular.min.js"></script>
  <script type="text/javascript" src="../../lib/ui-bootstrap-tpls-0.10.0.min.js"></script>

  <script type="text/javascript" src="../js/utils/Utils.js"></script>

  <script type="text/javascript" src="../js/app.js"></script>
  <script type="text/javascript" src="../js/services/ChromeNotificationService.js"></script>
  <script type="text/javascript" src="../js/services/ChromeGeneralStorageService.js"></script>
  <script type="text/javascript" src="../js/services/ListingConformerService.js"></script>
  <script type="text/javascript" src="../js/services/ChromeListingStorageService.js"></script>
  <script type="text/javascript" src="../js/services/ListingImportService.js"></script>
  <script type="text/javascript" src="../js/services/ChromeTabsService.js"></script>
  <script type="text/javascript" src="../js/directives/ImgLazyLoad.js"></script>
  <script type="text/javascript" src="../js/directives/ClearControl.js"></script>
  <script type="text/javascript" src="../js/directives/UsDebounceDirective.js"></script>
  <script type="text/javascript" src="../js/filters/DynamicJavascriptFilter.js"></script>
  <script type="text/javascript" src="../js/filters/EscapeFilter.js"></script>
  <script type="text/javascript" src="../js/filters/TimeSinceFilter.js"></script>
  <script type="text/javascript" src="../js/filters/MlsSearchUrlFilter.js"></script>
  <script type="text/javascript" src="../js/filters/MinimumFilter.js"></script>
  <script type="text/javascript" src="../js/filters/MaximumFilter.js"></script>
  <script type="text/javascript" src="../js/filters/PropertySumFilter.js"></script>
  <script type="text/javascript" src="../js/filters/ListingFilter.js"></script>

  <link rel="stylesheet" href="../css/common.css" />
  <link rel="stylesheet" href="../css/listings.css" />
  <script type="text/javascript" src="../js/controllers/ListingsController.js"></script>

</head>
<body>

  <div id="page" class="container" ng-controller="ListingsController">

    <header class="row clearfix">
      <div class="col-md-4 column">
        <div class="page-header">
          <h3>Dayton MLS saved listings <span class="badge">{{filteredListings.length}}</span></h3>
        </div>
      </div>
      <div class="col-md-2">
        <div class="page-header pull-left" style="border: 0;">
          <button class="btn btn-info" ng-click="refresh()">Refresh <span class="glyphicon glyphicon-refresh"></span></button>
        </div>
      </div>
      <div class="col-md-2 col-md-offset-2">
        <div class="page-header pull-right" style="border: 0;">
          <button class="btn btn-info" ng-click="importListings()">Import <span class="glyphicon glyphicon-import"></span></button>
        </div>
      </div>
      <div class="col-md-2">
        <div class="page-header pull-right" style="border: 0;">
          <button class="btn btn-info" ng-click="exportListings()">Export <span class="glyphicon glyphicon-export"></span></button>
        </div>
      </div>
    </header>

    <section id="body" class="row clearfix">

      <section id="filters" class="col-md-3 column">
        <div class="sidebar">
          <div class="input-group input-group-sm bottom-buffer">
            <span class="input-group-addon">Sort</span>
            <select name="sortOrder" class="form-control text-center" ng-model="filters.sortField" ng-change="saveFilters()">
              <option value="calculated.lastUpdate">Updated</option>
              <option value="personal.score">Score</option>
              <option value="record.mls">MLS</option>
              <option value="record.listingDate">Listing Date</option>
              <option value="record.listPrice">Price</option>
              <option value="record.sqft">SqFt</option>
              <option value="calculated.streetNameAndNumber">Street</option>
              <option value="record.city">City</option>
              <option value="record.zip">Zip</option>
              <option value="calculated.numRooms">Rooms</option>
              <option value="record.refreshed">Refreshed</option>
            </select>
            <a class="input-group-addon btn btn-sm" ng-click="filters.sortAsc = !filters.sortAsc; saveFilters();"><span class="glyphicon" ng-class="filters.sortAsc ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></span></a>
          </div>
          <div class="input-group input-group-sm bottom-buffer">
            <span class="input-group-addon" title="favorite"><span class="glyphicon glyphicon-heart"></span></span>
            <select class="form-control text-center" title="favorite" ng-model="filters.search.personal.isFavorite" ng-change="saveFilters()">
              <option value=""></option>
              <option value="false">N</option>
              <option value="true">Y</option>
            </select>
            <span class="input-group-addon btn btn-link" clear-control><span class="glyphicon glyphicon-remove"></span></span>
          </div>
          <div class="input-group input-group-sm bottom-buffer">
            <span class="input-group-addon" title="hidden"><span class="glyphicon glyphicon-eye-open"></span></span>
            <select class="form-control text-center" title="hidden" ng-model="filters.search.personal.isHidden" ng-change="saveFilters()">
              <option value="">Show all</option>
              <option value="false">Don't show hidden</option>
              <option value="true">Show only hidden</option>
            </select>
            <span class="input-group-addon btn btn-link" clear-control><span class="glyphicon glyphicon-remove"></span></span>
          </div>
          <div class="input-group input-group-sm bottom-buffer">
            <span class="input-group-addon" title="staleness"><span class="glyphicon glyphicon-time"></span></span>
            <select class="form-control text-center" title="staleness" ng-model="filters.search.record.isStale" ng-change="saveFilters()">
              <option value=""></option>
              <option value="false">Fresh</option>
              <option value="true">Stale</option>
            </select>
            <span class="input-group-addon btn btn-link" clear-control><span class="glyphicon glyphicon-remove"></span></span>
          </div>
          <div class="input-group input-group-sm bottom-buffer">
            <span class="input-group-addon">Score (min)</span>
            <input type="number" class="form-control" ng-model="filters.minSearch.personal.score" ng-change="saveFilters()" us-debounce="700" />
            <span class="input-group-addon btn btn-link" clear-control><span class="glyphicon glyphicon-remove"></span></span>
          </div>
          <div class="input-group input-group-sm bottom-buffer">
            <span class="input-group-addon">$ (min)</span>
            <input type="number" class="form-control" ng-model="filters.minSearch.record.listPrice" ng-change="saveFilters()" us-debounce="700" />
            <span class="input-group-addon btn btn-link" clear-control><span class="glyphicon glyphicon-remove"></span></span>
          </div>
          <div class="input-group input-group-sm bottom-buffer">
            <span class="input-group-addon">$ (max)</span>
            <input type="number" class="form-control" ng-model="filters.maxSearch.record.listPrice" ng-change="saveFilters()" us-debounce="700" />
            <span class="input-group-addon btn btn-link" clear-control><span class="glyphicon glyphicon-remove"></span></span>
          </div>
          <div class="input-group input-group-sm bottom-buffer">
            <span class="input-group-addon">SqFt (min)</span>
            <input type="number" class="form-control" ng-model="filters.minSearch.record.sqft" ng-change="saveFilters()" us-debounce="700" />
            <span class="input-group-addon btn btn-link" clear-control><span class="glyphicon glyphicon-remove"></span></span>
          </div>
          <div class="input-group input-group-sm bottom-buffer">
            <span class="input-group-addon">Desc</span>
            <input type="text" class="form-control" ng-model="filters.search.record.description" ng-change="saveFilters()" us-debounce="700" />
            <span class="input-group-addon btn btn-link" clear-control><span class="glyphicon glyphicon-remove"></span></span>
          </div>
          <div class="input-group input-group-sm bottom-buffer">
            <span class="input-group-addon">Subdiv</span>
            <input type="text" class="form-control" ng-model="filters.search.record.subdivision" ng-change="saveFilters()" us-debounce="700" />
            <span class="input-group-addon btn btn-link" clear-control><span class="glyphicon glyphicon-remove"></span></span>
          </div>
          <div class="input-group input-group-sm bottom-buffer">
            <span class="input-group-addon">Street</span>
            <input type="text" class="form-control" ng-model="filters.search.calculated.streetNumberAndName" ng-change="saveFilters()" us-debounce="700" />
            <span class="input-group-addon btn btn-link" clear-control><span class="glyphicon glyphicon-remove"></span></span>
          </div>
          <div class="input-group input-group-sm bottom-buffer">
            <span class="input-group-addon">City</span>
            <input type="text" class="form-control" ng-model="filters.search.record.city" ng-change="saveFilters()" us-debounce="700" />
            <span class="input-group-addon btn btn-link" clear-control><span class="glyphicon glyphicon-remove"></span></span>
          </div>
          <div class="input-group input-group-sm bottom-buffer">
            <span class="input-group-addon">Zip</span>
            <input type="text" class="form-control" ng-model="filters.search.record.zip" ng-change="saveFilters()" us-debounce="700" />
            <span class="input-group-addon btn btn-link" clear-control><span class="glyphicon glyphicon-remove"></span></span>
          </div>
          <!--<div class="input-group input-group-sm bottom-buffer">
              <span class="input-group-addon">Beds (min)</span>
              <input type="number" class="form-control" ng-model="filters.minSearch.record.bedrooms" ng-change="saveFilters()"  us-debounce="700" />
              <span class="input-group-addon btn btn-link" clear-control><span class="glyphicon glyphicon-remove"></span></span>
          </div>-->
          <!--<div class="input-group input-group-sm bottom-buffer">
              <span class="input-group-addon">Days listed (min)</span>
              <input type="number" class="form-control"  us-debounce="700" />
              <span class="input-group-addon btn btn-link" clear-control><span class="glyphicon glyphicon-remove"></span></span>
          </div>-->
          <div class="input-group input-group-sm bottom-buffer">
            <span class="input-group-addon">MLS</span>
            <input type="text" class="form-control" ng-model="filters.search.record.mls" ng-change="saveFilters()" us-debounce="700" />
            <span class="input-group-addon btn btn-link" clear-control><span class="glyphicon glyphicon-remove"></span></span>
          </div>
          <div class="input-group input-group-sm bottom-buffer" style="height: auto;">
            <span class="input-group-addon">func<br />(listing)</span>
            <span class="input-group-addon btn btn-link" ng-click="filters.dynamicJavascriptFilter = tempDynamicJavascriptFilter; saveFilters();" title="apply"><span class="glyphicon glyphicon-check" title="apply"></span></span>
            <textarea class="form-control" rows="5" style="width: 100%; height: auto;" ng-model="tempDynamicJavascriptFilter" title="javascript function (scope) that returns true/false"></textarea>
            <!-- TODO have this clear filters.dynamicJavascriptFilter and save filters -->
            <span class="input-group-addon btn btn-link" clear-control><span class="glyphicon glyphicon-remove"></span></span>
          </div>
        </div>
      </section>

      <section id="listings" class="col-md-9 column">

        <div class="row clearfix" ng-show="isRefreshing">
          <div class="loadingDialog"><img src="../../lib/blueimp-gallery/img/loading.gif"></div>
        </div>

        <div class="row clearfix"
             ng-repeat="listing in filteredListings = (listings | listingFilter:filters.search | minimum:filters.minSearch | maximum:filters.maxSearch | dynamicJavascript:filters.dynamicJavascriptFilter:'listing' | orderBy:filters.sortField:!filters.sortAsc) track by listing.id"
             ng-hide="isRefreshing">

          <div class="col-md-12 column">
            <!-- TODO turn into a directive -->
            <div class="panel" ng-class="listing.record.isStale == true ? 'panel-default' : 'panel-primary'">

              <div class="panel-heading">
                <div class="row clearfix">
                  <div class="col-md-2 column"><a ng-href="{{listing.record.mls | mlsSearchUrl}}" href="#" target="_blank" title="go to MLS details page">#{{listing.record.mls}}</a></div>
                  <div class="col-md-2 column">${{listing.record.listPrice | number:0}}</div>
                  <div class="col-md-3 column"><strong><a ng-href="http://maps.google.com?q={{listing.record.streetNumber | escape}}+{{listing.record.streetName | escape}}+{{listing.record.city | escape}}+{{listing.record.zip}}" href="#" target="{{listing.record.mls}}" title="display on google maps">{{listing.record.streetNumber}} {{listing.record.streetName}}</a></strong></div>
                  <div class="col-md-3 column"><strong><a ng-href="http://maps.google.com?q={{listing.record.streetNumber | escape}}+{{listing.record.streetName | escape}}+{{listing.record.city | escape}}+{{listing.record.zip}}" href="#" target="{{listing.record.mls}}" title="display on google maps">{{listing.record.city}} {{listing.record.zip}}</a></strong></div>
                  <div class="col-md-2 column text-muted small"><div class="listingTimestamp"><span title="refreshed on">{{listing.record.refreshed | date:"MM/dd/yy HH:mm"}} <span class="small">({{listing.record.refreshed | timeSince}})</span></span></div></div>
                </div>
              </div>

              <div class="panel-body">
                <div class="row clearfix">
                  <div class="col-md-2 column">
                    <div class="thumbnail">
                      <a href="#" ng-href="{{listing.record.mainImageUrl}}" title="{{listing.record.streetNumber}} {{listing.record.streetName}}" data-gallery="#{{listing.record.mls}}" data-description="{{listing.record.streetNumber}} {{listing.record.streetName}}">
                        <img ng-src="{{listing.record.mainImageUrl}}" class="img-responsive" alt="{{listing.record.streetNumber}} {{listing.record.streetName}}" />
                        <span class="badge pull-right">{{listing.record.pictures.length}}</span>
                      </a>
                    </div>
                    <div style="display:none;">
                      <div ng-repeat="picture in listing.record.pictures">
                        <a ng-href="{{picture.url}}" href="#" title="{{picture.description}}" data-gallery="#{{listing.id}}" data-description="{{picture.description}}">
                          <img data-original="{{picture.url}}" alt="{{picture.description}}" img-lazy-load />
                        </a>
                      </div>
                    </div>
                    <ul class="list-group">
                      <li class="list-group-item"><span class="text-info">{{listing.record.status}}</span></li>
                      <li class="list-group-item">Listed<br /><span class="text-info">{{listing.record.listingDate | date:"MM/dd/yy"}}</span><br /><span class="text-info small">{{listing.record.listingDate | timeSince}}</span></li>
                    </ul>
                  </div>
                  <div class="col-md-10 column">
                    <div class="row clearfix">
                      <div class="col-md-2 column">
                        <button class="btn bottom-buffer" title="toggle favorite" ng-click="toggleIsFavorite(listing)" ng-class="listing.personal.isFavorite ? 'btn-info' : 'btn-default'"><span class="glyphicon" ng-class="listing.personal.isFavorite ? 'glyphicon-heart' : 'glyphicon-heart-empty'"></span></button>
                        <div class="input-group input-group-sm">
                          <!--<span class="input-group-addon small" title="score"><span class="glyphicon glyphicon-thumbs-up"></span></span>-->
                          <input type="number" class="form-control" title="score" placeholder="score" ng-model="listing.personal.score" ng-change="saveListing(listing)" us-debounce="1000" />
                        </div>
                      </div>
                      <div class="col-md-10 column">
                        <ul class="list-group list-inline">
                          <!--<li class="list-group-item bottom-buffer" ng-show="listing.calculated.lastUpdate">lastUpdate <span class="text-info">{{listing.calculated.lastUpdate | date:"MM/dd/yy HH:mm:ss"}}</span></li>-->
                          <li class="list-group-item bottom-buffer" ng-show="listing.record.sqft">SqFt <span class="text-info">{{listing.record.sqft}}<span class="small" ng-show="listing.record.sqft"> (${{listing.record.listPrice/listing.record.sqft | number:0}}/sqft)</span></span></li>
                          <li class="list-group-item bottom-buffer" ng-show="listing.record.bedrooms">Beds <span class="text-info">{{listing.record.bedrooms}}</span></li>
                          <li class="list-group-item bottom-buffer" ng-show="listing.record.bathrooms">Baths <span class="text-info">{{listing.record.bathrooms}}</span></li>
                          <li class="list-group-item bottom-buffer" ng-show="listing.record.yearBuilt">Built <span class="text-info">{{listing.record.yearBuilt}}</span></li>
                          <li class="list-group-item bottom-buffer" ng-show="listing.calculated.annualTaxes > 0">Taxes <span class="text-info">${{listing.calculated.annualTaxes | number:0}}/yr</span></li>
                          <li class="list-group-item bottom-buffer" ng-show="listing.record.county">County <span class="text-info">{{listing.record.county}}</span></li>
                          <li class="list-group-item bottom-buffer" ng-show="listing.record.subdivision">Subdiv <span class="text-info">{{listing.record.subdivision}}</span></li>
                          <li class="list-group-item bottom-buffer" ng-show="listing.record.schoolDistrict">School <span class="text-info">{{listing.record.schoolDistrict}}</span></li>
                          <li class="list-group-item bottom-buffer" ng-show="listing.record.rooms">Rooms <button type="button" class="btn btn-link" ng-click="openRoomsDialog(listing)"><span class="text-info">{{listing.record.rooms.length}}<span class="small" ng-show="listing.record.rooms"> ({{listing.record.rooms | propertySum:"sqft"}}sqft)</span></span></button></li>
                        </ul>
                      </div>
                    </div>
                    <div class="row"><div class="text-primary">{{listing.record.description}}</div></div>
                  </div>
                </div>
                <div class="row clearfix" ng-init="showPersonalNotesField = listing.personal.notes != null && listing.personal.notes.length > 0">
                  <div class="panel panel-default noBottomMargin">
                    <div class="panel-heading">
                      <h4 class="panel-title input-group">
                        <button type="button" class="btn btn-default btn-link" ng-click="showPersonalNotesField = !showPersonalNotesField">Personal Notes <span class="glyphicon" ng-class="showPersonalNotesField ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></span></button>
                      </h4>
                    </div>
                    <div class="panel-body" ng-show="showPersonalNotesField">
                      <textarea name="personal.notes" class="form-control" rows="7" placeholder="notes about this listing..." ng-model="listing.personal.notes" ng-change="saveListing(listing)" us-debounce="1000"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <table class="table table-striped table-hover table-condensed table-responsive">
                <tbody>
                  <tr ng-repeat="h in listing.history | orderBy:historySortProperty:historySortDescending">
                    <td style="width: 0; padding-left: 10px; padding-right: 10px;"><span class="historyTimestamp">{{h.timestamp | date:"MM/dd/yy HH:mm"}} <span class="small">({{h.timestamp | timeSince}})</span></span></td>
                    <td style="width: 100%;"><span class="historyAction">{{h.action}}</span></td>
                  </tr>
                </tbody>
              </table>
              <div class="panel-footer">
                <div class="row clearfix">
                  <div class="col-md-2 column pull-left">
                    <button class="btn btn-danger btn-sm" title="delete this listing" ng-click="delete(listing)"><span class="glyphicon glyphicon-remove-circle"></span></button>
                  </div>
                  <div class="col-md-2 column">
                  </div>
                  <div class="col-md-2 column">
                  </div>
                  <div class="col-md-2 column">
                  </div>
                  <div class="col-md-2 column">
                  </div>
                  <div class="col-md-2 column">
                    <button class="btn btn-sm pull-right" title="toggle hidden" ng-click="toggleIsHidden(listing)" ng-class="listing.personal.isHidden ? 'btn-info' : 'btn-default'"><span class="glyphicon glyphicon-eye-close"></span></button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="row clearfix">
          <div class="col-md-2">
            <div class="pull-left">
              <button class="btn btn-danger" ng-click="deleteFilteredListings()">Delete These <span class="glyphicon glyphicon-remove"></span></button>
            </div>
          </div>
        </div>

      </section>
    </section>

    <section id="footer" class="row clearfix">
      <div class="col-md-12 column">
        <div class="pull-right">
          <em><a href="http://www.philchuang.com/" target="_blank" class="text-muted" style="text-decoration: none;">philchuang.com</a></em>
        </div>
      </div>
    </section>
  </div>

  <!-- MODAL DIALOGS, TEMPLATES -->
  <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
  <div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <p class="description"></p>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" aria-hidden="true">&times;</button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body next"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left prev">
              <i class="glyphicon glyphicon-chevron-left"></i>
              Previous
            </button>
            <button type="button" class="btn btn-primary next">
              Next
              <i class="glyphicon glyphicon-chevron-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/ng-template" id="RoomsDisplay.html">
    <div class="modal-header">
      <h3>{{dataContext.calculated.streetNumberAndName}} rooms</h3>
    </div>
    <div class="modal-body">
      <table class="table table-striped table-hover table-condensed table-responsive">
        <tbody>
          <tr ng-repeat="room in dataContext.record.rooms | orderBy:['+level','+name']">
            <td style="width: 0; padding-left: 10px; padding-right: 10px; white-space: nowrap;"><span class="">{{room.name}}</span></td>
            <td style="width: 100%;"><span class="">{{room.dimensions}} ({{room.sqft}} sqft) L: {{room.level}}</span></td>
          </tr>
          <tr>
            <td style="width: 0; padding-left: 10px; padding-right: 10px; white-space: nowrap;"><span class="">TOTAL</span></td>
            <td style="width: 100%;"><span class="">{{dataContext.record.rooms.length}} ({{dataContext.record.rooms | propertySum:'sqft'}} sqft)</span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="close()">Close</button>
    </div>
  </script>

  <script type="text/ng-template" id="ConfirmationDialog.html">
    <div class="modal-header">
      <h3>{{dataContext.title}}</h3>
    </div>
    <div class="modal-body">
      {{dataContext.message}}
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="close()">OK</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
  </script>

  <script type="text/ng-template" id="ExportDialog.html">
    <div class="modal-header">
      <h3>{{dataContext.title}}</h3>
    </div>
    <div class="modal-body">
      <textarea rows="5" style="width: 100%;" ng-model="dataContext.json"></textarea>
      <div class="btn-group btn-group-sm">
        <button title="only personal data"
                class="btn btn-toolbar btn-sm"
                ng-click="dataContext.toggleJsonType ()">
          personal data only
        </button>
        <button class="btn btn-toolbar btn-sm" ng-click="dataContext.toggleJsonType ()" ng-class="dataContext.jsonType === 'personal' ? 'btn-success' : 'btn-default'"><span class="glyphicon" ng-class="dataContext.jsonType === 'personal' ? 'glyphicon-ok' : 'glyphicon-remove'"></span></button>
      </div>

    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="close()">OK</button>
    </div>
  </script>

  <script type="text/ng-template" id="ImportDialog.html">
    <div class="modal-header">
      <h3>{{dataContext.title}}</h3>
    </div>
    <div class="modal-body">
      <textarea rows="5" style="width: 100%;" ng-model="dataContext.json"></textarea>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="close()">OK</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
  </script>

</body>
</html>
