<!doctype html>
<html ng-csp ng-app="AutoDaytonMls">
<head>
  <title>Chrome Auto Dayton MLS</title>

  <script type="text/javascript" src="../../lib/jquery-2.1.0.min.js"></script>
  <script type="text/javascript" src="../../lib/jquery.ba-bbq.min.js"></script>
  <script type="text/javascript" src="../../lib/string.js"></script>

  <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../../lib/bootstrap/css/flatly.bootstrap.min.css" />
  <script type="text/javascript" src="../../lib/bootstrap/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="../../lib/underscore-min.js"></script>

  <link rel="stylesheet" href="../../lib/angular-csp.css" />
  <script type="text/javascript" src="../../lib/angular.min.js"></script>
  <script type="text/javascript" src="../../lib/ui-bootstrap-tpls-0.10.0.min.js"></script>

  <script type="text/javascript" src="../js/utils/utils.js"></script>
  <script type="text/javascript" src="../js/app.js"></script>
  <script type="text/javascript" src="../js/services/StorageService.js"></script>
  <script type="text/javascript" src="../js/services/ChromeNotificationService.js"></script>
  <script type="text/javascript" src="../js/services/ChromeBookmarkService.js"></script>
  <script type="text/javascript" src="../js/services/CriteriaBookmarkService.js"></script>
  <script type="text/javascript" src="../js/services/RapmlsContentScriptMessageService.js"></script>
  <script type="text/javascript" src="../js/services/SearchService.js"></script>
  <script type="text/javascript" src="../js/directives/ClearControl.js"></script>

  <link rel="stylesheet" href="../css/common.css" />
  <link rel="stylesheet" href="../css/search.css" />
  <script type="text/javascript" src="../js/controllers/SearchController.js"></script>

</head>
<body>

  <div id="page" ng-controller="SearchController" class="container" style="margin-right: 20px;">

    <header class="row clearfix bottom-buffer">
      <div class="col-xs-10">
        <h4>Dayton MLS search</h4>
      </div>
      <div class="col-xs-2 smallPadAndAlignRight">
        <div class="pull-right">
          <button id="listingsButton" ng-click="viewListings()" class="btn btn-primary btn-sm" title="view saved listings"><span class="glyphicon glyphicon-list-alt"></span></button>
        </div>
      </div>
    </header>

    <section id="body" class="row clearfix">

      <div id="search">
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-xs-10 col-xs-offset-2">
              <span class="input-group input-group-sm">
                <span class="input-group-addon">min $k</span>
                <input type="number" name="minPrice" ng-model="criteria.minPriceK" size="4" class="form-control" placeholder="100" />
                <span class="input-group-addon btn btn-link" clear-control><span class="glyphicon glyphicon-remove"></span></span>
              </span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-10 col-xs-offset-2">
              <span class="input-group input-group-sm">
                <span class="input-group-addon">max $k</span>
                <input type="number" name="maxPrice" ng-model="criteria.maxPriceK" size="4" class="form-control" placeholder="200" />
                <span class="input-group-addon btn btn-link" clear-control><span class="glyphicon glyphicon-remove"></span></span>
              </span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-10 col-xs-offset-2">
              <span class="input-group input-group-sm">
                <span class="input-group-addon">beds</span>
                <select name="minBedrooms" ng-model="criteria.minBedrooms" class="form-control text-center">
                  <option value="">any</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                </select>
                <span class="input-group-addon btn btn-link" clear-control><span class="glyphicon glyphicon-remove"></span></span>
              </span>
              <!-- TODO get bootstrap dropdown working because it looks/acts better
                  <div class="dropdown">
                      <div class="btn-group">
                          <button class="btn" id="minBedroomsDropdownBtn">Any</button>
                          <button class="btn" data-toggle="dropdown"><span class="caret"></span></button>
                          <ul class="dropdown-menu" id="minBedroomsDropdown">
                              <li><a href="#" tabindex="-1"></a></li>
                              <li><a href="#" tabindex="-1">1</a></li>
                              <li><a href="#" tabindex="-1">2</a></li>
                              <li><a href="#" tabindex="-1">3</a></li>
                              <li><a href="#" tabindex="-1">4</a></li>
                              <li><a href="#" tabindex="-1">5</a></li>
                              <li><a href="#" tabindex="-1">6</a></li>
                              <li><a href="#" tabindex="-1">7</a></li>
                              <li><a href="#" tabindex="-1">8</a></li>
                              <li><a href="#" tabindex="-1">9</a></li>
                          </ul>
                      </div>
                  </div> -->
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-10 col-xs-offset-2">
              <div class="input-group input-group-sm">
                <span class="input-group-addon">zips</span>
                <textarea name="zipCodes" ng-model="criteria.zipCodes" class="form-control textarea-lg" placeholder="45458, 45429"></textarea>
                <span class="input-group-addon btn btn-link" clear-control><span class="glyphicon glyphicon-remove"></span></span>
              </div>
            </div>
          </div>
          <hr />
          <div class="form-group">
            <div class="col-xs-10 col-xs-offset-2">
              <div class="input-group input-group-sm">
                <span class="input-group-addon">MLS</span>
                <textarea name="mls" ng-model="criteria.mlsStr" class="form-control textarea-lg" placeholder="(up to 5)"></textarea>
                <span class="input-group-addon btn btn-link" clear-control><span class="glyphicon glyphicon-remove"></span></span>
              </div>
            </div>
          </div>
          <hr />
          <div class="form-group">
            <div class="col-xs-4 smallPadAndAlignRight">
              <div class="pull-right">
                <div class="btn-group btn-group-sm">
                  <button id="scrapeButton" ng-click="scrapeCurrentPage()" class="btn btn-info" title="scrape current page" ng-show="canScrapeCurrentPage"><span class="glyphicon glyphicon-import"></span></button>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-xs-offset-2">
              <div class="pull-right">
                <div class="btn-group btn-group-sm">
                  <button id="scrapeButton"
                          title="and scrape results"
                          class="btn btn-toolbar btn-sm"
                          ng-click="toggleScrapeResults()">
                    scrape
                  </button>
                  <button class="btn btn-toolbar btn-sm" ng-click="toggleScrapeResults()" ng-class="criteria.scrapeResults ? 'btn-success' : 'btn-default'"><span class="glyphicon" ng-class="criteria.scrapeResults ? 'glyphicon-ok' : 'glyphicon-remove'"></span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-4 smallPadAndAlignRight">
              <div class="pull-right">
                <div class="btn-group">
                  <button id="searchButton" type="button" ng-click="executeSearch(criteria)" class="btn btn-primary" title="search now"><span class="glyphicon glyphicon-search"></span></button>
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" title="recent searches">
                    <span class="caret"></span>
                    <span class="sr-only">recent searches dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu" style="width: 250px;">
                    <li ng-repeat="c in recentCriteria" style="text-align: left;"><a href="#" ng-click="$parent.criteria = c" style="white-space: normal;">{{criteriaToString(c)}}</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xs-4 col-xs-offset-4">
              <div class="pull-right">
                <button id="bookmarkButton" ng-click="bookmarkSearch(criteria)" class="btn btn-info" title="bookmark this search"><span class="glyphicon glyphicon-bookmark"></span></button>
              </div>
            </div>
          </div>
        </form>
      </div>

    </section>

    <section id="footer" class="row clearfix">
      <!-- dress it up like a form group to maintain consistent right margin -->
      <div>
        <div class="form-horizontal">
          <div class="form-group">
            <div class="col-xs-12">
              <div class="pull-right">
                <em><a href="http://www.philchuang.com/" target="_blank" class="text-muted" style="text-decoration: none;">philchuang.com</a></em>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

</body>
</html>
